@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0;
  margin: 0;
}

.container {
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-shadow: -10px 10px black;
}

.container h1 {
  font-size: 3rem;
  color: black;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-show {
  background: none;
  border: 3px solid black;
  color: black;
  outline: none;
  font-size: 24px;
  padding: 25px;
  margin: 15px;
  width: 300px;
  height: 80px;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 3px solid black;
  width: 150px;
  height: 40px;
  color: black;
  font-size: 18px;
  padding: 25px;
  margin: 15px;
}

.search-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.show-container {
  margin-top: 100px;
  border: 3px solid black;
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: scroll;
  scrollbar-color: black white;
}

.show-container div {
  height: 300px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 25px;
  margin: 10px;
  border: 3px solid black;
}
